:root{
    --primary-color: #131086;
    --secondary-color: #b621f3;
    --font: #fff;
    --body:#3792cb;
}

*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items:center;
    padding: 0;
    margin: 0;
    height:100vh;
    width:100vw;
    background:var(--body);
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    height:90vh;
    width: 90vw;
    background:linear-gradient(45deg, var(--primary-color), var(--secondary-color));
}

